﻿@page
@model InternalManager.UI.Pages.Contacts.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Contact</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Contact.PlatformId" class="control-label"></label>
                <select asp-for="Contact.PlatformId" class ="form-control" asp-items="ViewBag.PlatformId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Contact.SalesRep" class="control-label"></label>
                <input asp-for="Contact.SalesRep" class="form-control" />
                <span asp-validation-for="Contact.SalesRep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.SupportRep" class="control-label"></label>
                <input asp-for="Contact.SupportRep" class="form-control" />
                <span asp-validation-for="Contact.SupportRep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.Company" class="control-label"></label>
                <input asp-for="Contact.Company" class="form-control" />
                <span asp-validation-for="Contact.Company" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.Address" class="control-label"></label>
                <input asp-for="Contact.Address" class="form-control" />
                <span asp-validation-for="Contact.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.City" class="control-label"></label>
                <input asp-for="Contact.City" class="form-control" />
                <span asp-validation-for="Contact.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.State" class="control-label"></label>
                <input asp-for="Contact.State" class="form-control" />
                <span asp-validation-for="Contact.State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.Zip" class="control-label"></label>
                <input asp-for="Contact.Zip" class="form-control" />
                <span asp-validation-for="Contact.Zip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.Country" class="control-label"></label>
                <input asp-for="Contact.Country" class="form-control" />
                <span asp-validation-for="Contact.Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.Website" class="control-label"></label>
                <input asp-for="Contact.Website" class="form-control" />
                <span asp-validation-for="Contact.Website" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.QuickNotes" class="control-label"></label>
                <input asp-for="Contact.QuickNotes" class="form-control" />
                <span asp-validation-for="Contact.QuickNotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.Notes" class="control-label"></label>
                <input asp-for="Contact.Notes" class="form-control" />
                <span asp-validation-for="Contact.Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.CurrentSystem" class="control-label"></label>
                <input asp-for="Contact.CurrentSystem" class="form-control" />
                <span asp-validation-for="Contact.CurrentSystem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.CallBack" class="control-label"></label>
                <input asp-for="Contact.CallBack" class="form-control" />
                <span asp-validation-for="Contact.CallBack" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.SupportExp" class="control-label"></label>
                <input asp-for="Contact.SupportExp" class="form-control" />
                <span asp-validation-for="Contact.SupportExp" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Contact.Sold" /> @Html.DisplayNameFor(model => model.Contact.Sold)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Contact.CreatedDate" class="control-label"></label>
                <input asp-for="Contact.CreatedDate" class="form-control" />
                <span asp-validation-for="Contact.CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.GroupCodes" class="control-label"></label>
                <input asp-for="Contact.GroupCodes" class="form-control" />
                <span asp-validation-for="Contact.GroupCodes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.Timezone" class="control-label"></label>
                <input asp-for="Contact.Timezone" class="form-control" />
                <span asp-validation-for="Contact.Timezone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.SoldDate" class="control-label"></label>
                <input asp-for="Contact.SoldDate" class="form-control" />
                <span asp-validation-for="Contact.SoldDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.InactiveDate" class="control-label"></label>
                <input asp-for="Contact.InactiveDate" class="form-control" />
                <span asp-validation-for="Contact.InactiveDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Contact.Inactive" /> @Html.DisplayNameFor(model => model.Contact.Inactive)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Contact.OtherDbas" class="control-label"></label>
                <input asp-for="Contact.OtherDbas" class="form-control" />
                <span asp-validation-for="Contact.OtherDbas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.Seats" class="control-label"></label>
                <input asp-for="Contact.Seats" class="form-control" />
                <span asp-validation-for="Contact.Seats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
