﻿@page
@model InternalManager.UI.Pages.Contacts.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Contact</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Timestamp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Timestamp)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.SalesRep)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.SalesRep)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.SupportRep)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.SupportRep)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Company)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Company)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.State)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Zip)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Zip)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Website)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Website)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.QuickNotes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.QuickNotes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Notes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.CurrentSystem)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.CurrentSystem)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.CallBack)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.CallBack)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.SupportExp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.SupportExp)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Sold)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Sold)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.GroupCodes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.GroupCodes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Timezone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Timezone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.SoldDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.SoldDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.InactiveDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.InactiveDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Inactive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Inactive)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.OtherDbas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.OtherDbas)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Seats)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Seats)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Platform)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Platform.PlatformId)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Contact.ContactId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
