﻿@page
@model InternalManager.UI.Pages.Contacts.IndexModel

@{
    ViewData["Title"] = "Customers";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h3>Customers</h3>

<form>    
    <p>
        <select asp-for="ContactPlatform" asp-items="Model.Platforms">
            <option value="">All</option>
        </select>
        Search: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
         <a class="btn btn-primary active" asp-page="Create">
                <i class="fas fa-plus-circle"></i> Add Contact
         </a>
    </p>
</form>

<table class="table table-sm table-hover">
    <thead class="thead-dark">
        <tr>            
            <th>
                @Html.DisplayNameFor(model => model.Contact[0].Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact[0].DefaultPOC.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact[0].DefaultPOC.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact[0].DefaultPOC.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact[0].SoldDate)
            </th>
           <th>
                @Html.DisplayNameFor(model => model.Contact[0].SalesRep)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact[0].SupportRep)
            </th>
            <th width="350px">
                @Html.DisplayNameFor(model => model.Contact[0].QuickNotesLimited)
            </th>
            @*<th></th>*@
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model.Contact) {
        <tr>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ContactId">@Html.DisplayFor(modelItem => item.Company)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DefaultPOC.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DefaultPOC.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DefaultPOC.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoldDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalesRepresentative.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupportRepresentative.FirstName)
            </td>
            <td title="@Html.DisplayFor(modelItem => item.QuickNotes)">
                @Html.DisplayFor(modelItem => item.QuickNotesLimited)
            </td>
            @*<td>
                <a asp-page="./Edit" asp-route-id="@item.ContactId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ContactId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ContactId">Delete</a>
            </td>*@
        </tr>
}
    </tbody>
</table>
