﻿@page
@model InternalManager.UI.Pages.Tickets.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Ticket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Ticket.ContactId" class="control-label"></label>
                <select asp-for="Ticket.ContactId" class ="form-control" asp-items="ViewBag.ContactId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.LastDateModified" class="control-label"></label>
                <input asp-for="Ticket.LastDateModified" class="form-control" />
                <span asp-validation-for="Ticket.LastDateModified" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.ViaId" class="control-label"></label>
                <select asp-for="Ticket.ViaId" class ="form-control" asp-items="ViewBag.ViaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.TicketTypeId" class="control-label"></label>
                <select asp-for="Ticket.TicketTypeId" class ="form-control" asp-items="ViewBag.TicketTypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.CategoryId" class="control-label"></label>
                <select asp-for="Ticket.CategoryId" class ="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.PriorityId" class="control-label"></label>
                <select asp-for="Ticket.PriorityId" class ="form-control" asp-items="ViewBag.PriorityId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.MemberIdfrom" class="control-label"></label>
                <input asp-for="Ticket.MemberIdfrom" class="form-control" />
                <span asp-validation-for="Ticket.MemberIdfrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.MemberId" class="control-label"></label>
                <select asp-for="Ticket.MemberId" class ="form-control" asp-items="ViewBag.MemberId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.MonitorList" class="control-label"></label>
                <input asp-for="Ticket.MonitorList" class="form-control" />
                <span asp-validation-for="Ticket.MonitorList" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.StatusId" class="control-label"></label>
                <select asp-for="Ticket.StatusId" class ="form-control" asp-items="ViewBag.StatusId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.Subject" class="control-label"></label>
                <input asp-for="Ticket.Subject" class="form-control" />
                <span asp-validation-for="Ticket.Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.Description" class="control-label"></label>
                <input asp-for="Ticket.Description" class="form-control" />
                <span asp-validation-for="Ticket.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.Steps" class="control-label"></label>
                <input asp-for="Ticket.Steps" class="form-control" />
                <span asp-validation-for="Ticket.Steps" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.AdditionalInfo" class="control-label"></label>
                <input asp-for="Ticket.AdditionalInfo" class="form-control" />
                <span asp-validation-for="Ticket.AdditionalInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.DateTicket" class="control-label"></label>
                <input asp-for="Ticket.DateTicket" class="form-control" />
                <span asp-validation-for="Ticket.DateTicket" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.BidAmount" class="control-label"></label>
                <input asp-for="Ticket.BidAmount" class="form-control" />
                <span asp-validation-for="Ticket.BidAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.JobHours" class="control-label"></label>
                <input asp-for="Ticket.JobHours" class="form-control" />
                <span asp-validation-for="Ticket.JobHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.ApprovedAmount" class="control-label"></label>
                <input asp-for="Ticket.ApprovedAmount" class="form-control" />
                <span asp-validation-for="Ticket.ApprovedAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.DateQuote" class="control-label"></label>
                <input asp-for="Ticket.DateQuote" class="form-control" />
                <span asp-validation-for="Ticket.DateQuote" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.DateApproved" class="control-label"></label>
                <input asp-for="Ticket.DateApproved" class="form-control" />
                <span asp-validation-for="Ticket.DateApproved" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.Files" class="control-label"></label>
                <input asp-for="Ticket.Files" class="form-control" />
                <span asp-validation-for="Ticket.Files" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ticket.PublicTicket" /> @Html.DisplayNameFor(model => model.Ticket.PublicTicket)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ticket.SentEmail" /> @Html.DisplayNameFor(model => model.Ticket.SentEmail)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ticket.SentQuote" /> @Html.DisplayNameFor(model => model.Ticket.SentQuote)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.Pocid" class="control-label"></label>
                <select asp-for="Ticket.Pocid" class ="form-control" asp-items="ViewBag.Pocid"></select>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.PrePaid" class="control-label"></label>
                <input asp-for="Ticket.PrePaid" class="form-control" />
                <span asp-validation-for="Ticket.PrePaid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.CurrentVersionId" class="control-label"></label>
                <select asp-for="Ticket.CurrentVersionId" class ="form-control" asp-items="ViewBag.CurrentVersionId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.FixedInVersionId" class="control-label"></label>
                <select asp-for="Ticket.FixedInVersionId" class ="form-control" asp-items="ViewBag.FixedInVersionId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
