﻿@page
@model InternalManager.UI.Pages.Tickets.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.Timestamp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Timestamp)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.LastDateModified)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.LastDateModified)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.MemberIdfrom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.MemberIdfrom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.MonitorList)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.MonitorList)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.Subject)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Subject)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.Steps)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Steps)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.AdditionalInfo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.AdditionalInfo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.DateTicket)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.DateTicket)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.BidAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.BidAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.JobHours)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.JobHours)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.ApprovedAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.ApprovedAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.DateQuote)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.DateQuote)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.DateApproved)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.DateApproved)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.DateSubmitted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.DateSubmitted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.Files)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Files)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.PublicTicket)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.PublicTicket)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.SentEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.SentEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.SentQuote)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.SentQuote)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.PrePaid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.PrePaid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Category.CategoryId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.Contact)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Contact.ContactId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.CurrentVersion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.CurrentVersion.DatabaseVersion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.FixedInVersion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.FixedInVersion.DatabaseVersion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.MemberTo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.MemberTo.MemberId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.Poc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Poc.Pocid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.Priority)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Priority.PriorityId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Status.StatusId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.TicketType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.TicketType.TicketTypeId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.Via)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Via.ViaId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Ticket.TicketId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
