﻿@page
@model InternalManager.UI.Pages.Tickets.IndexModel

@{
    ViewData["Title"] = "Tickets";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Tickets</h2>

<form>    
    <p>
        Search: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
         <a class="btn btn-primary active" asp-page="Create">
                <i class="fas fa-plus-circle"></i> Add Ticket
         </a>
    </p>
</form>

<table class="table table-sm table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ticket[0].TicketId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticket[0].DateTicket)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticket[0].Contact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticket[0].Poc)
            </th>
            <th>
                @Html.Label("Expired")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticket[0].MemberIdfrom)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Ticket[0].MemberTo)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Ticket[0].Priority)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Ticket[0].TicketType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticket[0].Status)
            </th>
              <th>
                @Html.DisplayNameFor(model => model.Ticket[0].Subject)
            </th>           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Ticket) {
        <tr>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.TicketId">@Html.DisplayFor(modelItem => item.TicketId)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTicket)
            </td>
             <td>
                 <a asp-page="/Contacts/Edit" asp-route-id="@item.ContactId">@Html.DisplayFor(modelItem => item.Contact.Company)</a>                
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Poc.FullName)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Contact.SupportExp)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.MemberFrom.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberTo.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority.Priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketType.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            @*<td>
                <a asp-page="./Edit" asp-route-id="@item.TicketId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.TicketId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.TicketId">Delete</a>
            </td>*@
        </tr>
}
    </tbody>
</table>
